body{
    background-color: rgba(228, 228, 210, 0.619);
    padding: 0;
}
table,th,td{
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    font-size: 30px;
    border-collapse: collapse;
    border: 1px solid black;
}
