body{
    background-color: rgba(248, 145, 2, 0.96);
}
h1{
    font-style: italic;
    text-align: center;
    align-items: center;
    margin: 0px;
    font-size: 35px;
    color: black;
    border: 1px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(44, 44, 47);
    background-color: rgb(48, 48, 255);
}
.spanGMS{
    font-size: 35px;
    text-decoration: none;
    color: red;
}

h2{
    font-style: italic;
    text-align: center;
    color: rgb(16, 11, 11);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input{
    margin: 10px;
    align-items: center;
    outline: none;
    box-shadow: none;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-between;

}
form input{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
    align-items: center;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}
.product{
    margin: auto;
    text-align: center;
    width: 112px;
    height: 300px;
    border: 1px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(255, 30, 0);
    background-color: bisque;

}
.product a{
    font-size: 12px;
    color: black;
}
.product a:hover{
    color: red;
    font-size: 20px;
}
.product h3{
    font-size: 15px;
}
.product h4{
    font-size: 11px;
    color: rgb(90, 91, 92);
}
